[mysqld]
default_storage_engine = InnoDB
innodb_buffer_pool_size = 4G
innodb_flush_log_at_trx_commit = 1
innodb_log_file_size = 128M
innodb_log_buffer_size = 128M
max_connections = 350
thread_cache_size = 192